body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #f0d700; /* Dourado */
    background-color: #000000; /* Preto */
}

header {
    header {
    background-image: https://github.com/roninpt2024/roninpt/blob/main/logo.png?raw=true; /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Garante que a imagem cubra todo o cabeçalho */
    background-position: center center; /* Centraliza a imagem no cabeçalho */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-color: #111111; /* Cor de fundo de fallback */
    color: #cba135;
    padding: 1rem 0;
    text-align: center;
}

}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #f0d700; /* Dourado */
    text-decoration: none;
}

#banner {
    background-color: #333333; /* Preto intermediário */
    color: #f0d700; /* Dourado */
    padding: 2rem 0;
    text-align: center;
}

section {
    padding: 2rem;
    margin: 1rem 0;
    background-color: #222222; /* Preto */
    border-radius: 10px;
}

#jogadores .player {
    display: inline-block;
    width: 45%;
    margin: 2.5%;
    text-align: center;
}

#jogadores .player img {
    width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1rem;
}

form input, form textarea {
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: #333333; /* Preto intermediário */
    color: #f0d700; /* Dourado */
    border: 1px solid #f0d700; /* Dourado */
}

form button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #111111; /* Preto escuro */
    color: #f0d700; /* Dourado */
    border: none;
    cursor: pointer;
}

footer {
    background-color: #111111; /* Preto escuro */
    color: #f0d700; /* Dourado */
    text-align: center;
    padding: 1rem 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #f0d700; /* Dourado */
    text-decoration: none;
}

#biografia {
    background-color: #222222; /* Preto */
    padding: 2rem;
    border-radius: 10px;
}

#biografia h2 {
    text-align: center;
    color: #f0d700; /* Dourado */
}

#biografia p {
    text-align: justify;
    margin-bottom: 1rem;
    color: #f0d700; /* Dourado */
}
